.popup__content {
    width: 430px;
    min-height: 330px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
}

@media screen and (max-width: 648px) { 
    .popup__content { 
        width: 282px;
        min-height: 322px;  
    }  
} 