.header__logo {
    margin: 0 0 41px;
    width: 142px;
    height: 33px;
}

@media screen and (max-width: 880px) { 
    .header__logo { 
        margin-left: calc((100% - 581px)/4);
    }  
} 

@media screen and (max-width: 648px) { 
    .header__logo { 
        margin-left: 27px;
        width: 103.74px;
        margin-bottom: 31.6px;
    }  
} 