.elements {
    display: grid;
    row-gap: 20px;
    column-gap: 17px;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    margin: 47.25px auto 67px;
}

@media screen and (max-width: 648px) {
    .elements {
        margin-bottom: 48px;
        margin-top: 36px;
    }  
} 
