.profile__edit-button{
    background: url(../../../images/edit-button.svg) center no-repeat;
    height: 24px;
    width: 24px;
    border: 1px solid #FFFFFF;
    margin: 15px 0 0 17px;
}

@media screen and (max-width: 648px) { 
    .profile__edit-button { 
        margin: 8px 0 0 10px;
        height: 18px;
        width: 18px;
    }  
} 

.profile__edit-button:hover{
    opacity: 0.6;
    cursor: pointer;
}