.element__like-button {
    width: 22px;
    height: 19px;
    margin-right: 20px;
    background: url(../../../images/like-button.svg) center no-repeat;
    border: none;
}

.element__like-button:hover{
    opacity: 0.5;
    cursor: pointer;
}