.element__like-button {
    width: 22px;
    height: 19px;
    background: url(../../../images/like-button.svg) center no-repeat;
    margin-right: 20px;
}


.element__like-button:hover{
    opacity: 0.5;
}